body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(211, 218, 218);
}

h1,
h2,
h3 {
  font-weight: bold;
  color: #333;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  border-radius: 15px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 150px;
}
.container {
  margin: 0;
  padding: 0;

  display: grid;
  margin: 5%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
